body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.images-container {
    display: flex;
    flex-direction: column;
}

.product-details-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 1px rgba(155, 151, 151, 0.87);
    border-radius: 8px;
    overflow: hidden;
}

.product-image {
    position: relative;
    text-align: center;
    padding: 30px;
    margin-bottom: -20px;

}

.product-image img {
    width: 514px;
    height: 500px;
    object-fit: contain
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail {
    width: 100px;
    height: 60px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
   
}

.thumbnail-container img {
    width: 97px;
    height: 57px;
    object-fit: contain;
}

.thumbnail:hover {
    border: 2px solid #daa403;
}

.product-details {
    padding: 20px;
    flex: 1;
}

.product-details h1 {
    margin-top: 0;
    font-weight: bold;
}

.product-details h2 {
    font-size: 10px;
}

.details {
    font-size: 14px;
    font-weight: bold;
}

.details h2 {
    font-size: 13px;
}

.product-variations {
    margin: 20px 0;
}

.variation {
    margin-bottom: 10px;
}

.variation label {
    margin-right: 10px;
}

.product-price h1 {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    display: inline;
}

.product-price p {
    display: inline;
    margin: 10px;
    font-size: 12px;
}
#originalprice{
text-decoration: line-through;
}

.product-prc {
    font-size: 13px;
}

.add-to-cart {
    background-color: #ffd700;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    width: 150px;
}

.add-to-cart:hover {
    background-color: #f39d12c7;
}

.button-tamanhos {
    display: flex;
}

.button-tamanhos button {
    margin-right: 6px;
    padding: 1px 8px;
    border: none;
    border-radius: 7px;
    background-color: #ffffff;
    color: rgb(11, 11, 11);
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid black;
    border-color: #0e0e0e;
}

.button-tamanhos button:last-child {
    margin-right: 0;
}

.button-tamanhos button:hover {
    background-color: #c90071;
}

.button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.button-1 {
    background-color: #3498db;
}

.button-2 {
    background-color: #2ecc71;
}

.button-3 {
    background-color: #e74c3c;
}

.button-4 {
    background-color: #f39c12;
}

.button-5 {
    background-color: #9b59b6;
}

.button:hover {
    box-shadow: 10 20px 30px rgba(0, 0, 0, 0.2);
    width: 27px;
    border: 2px solid rgb(69, 69, 69);
    margin-bottom: -1px;
}

.rating {
    color: #daa403;
}

.star {
    color: #ddd;
    font-size: 20px;
    margin-right: 2px;
  }
  
  .filled {
    color: #ffd700;
  }
  
  .product-rating {
    display: flex;
    align-items: center;
  }
  .product-rating P {
    margin-top: 13px;
  }
  
  .avaliacao {
    margin-left: 10px;
    font-size: 14px;
    color: #555
  }

  #ratingblock{
    background-color: #ffd700;
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #f5f5f5;
    box-shadow: 1px 1px 1px 1px #b6b2b2;
  }
  #starblock{
    color: #ffffff;
    font-size: 16px;
    margin-left: 3px;
  }