.btn-yellow {
    
    background-color: rgb(208, 208, 62); /* Cor de fundo amarela */
    color: rgb(0, 0, 0); /* Cor do texto preto para contraste */
    border: none;
    margin-top: 5px;
    margin-left: 10px;
    padding: 0px 5px;
}

.btn-yellow:hover {
    background-color: #cfb15f; /* Cor de fundo ao passar o mouse (amarelo mais escuro) */
    color: rgb(21, 20, 20); /* Cor do texto ao passar o mouse */
}