.btn-yellow {
    
    background-color:  #e4fc84; /* Cor de fundo amarela */
    color: rgb(0, 0, 0); /* Cor do texto preto para contraste */
    border: none;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 30%;
    font-size: small;
    font-weight: bold;
}

.btn-yellow:hover {
    background-color: #cfb15f; /* Cor de fundo ao passar o mouse (amarelo mais escuro) */
    color: rgb(21, 20, 20); /* Cor do texto ao passar o mouse */
}