.btn-yellow,.btn-danger {
    
    background-color:  #e4fc84; 
    color: rgb(0, 0, 0); 
    border: none;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 30%;
    font-size: small;
    font-weight: bold;
}
.btn-danger{
    background-color: rgb(238, 52, 19);
    color: white;
}

.btn-yellow:hover {
    background-color: #cfb15f;
    color: rgb(21, 20, 20); 
}