nav{
    display: flex;
    width: 100%;
    background-color: rgb(216, 202, 230);
    height: 10 vh;
    justify-content: center;
    padding-top: 3%;
}

section{
    width: 80%;
    background-color: rgb(159, 160, 177) ;
    }