#imagemcard {
    width: 265px;
    height: 255px;
    object-fit: contain;
    padding: 15px;

}

.card-body {
    padding: 20px;
    text-align: left;
    
}

.card-text {
    color: #6c757d;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.old-price {
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}

.new-price {
    color: black;
    font-weight: bold;
}
.card{
    box-shadow: 0px 0px 5px 1px rgba(155, 151, 151, 0.87);
}